.room-slider-container {
    justify-content: space-between;
    align-items: center;
    width: 100%; /* This ensures the container takes up the full width */
  }
  .btn.btn-light.btn-xl {
    background-color: transparent!important; /* Override the background color */
    border: none!important; /* Remove the border */
    margin: 5px !important; /* Remove padding */
  }  

.arrendar{
    background-color: #FF7A41;
    color: white;
    border: none;
    padding: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s;
    border-radius: 20px !important;
    box-shadow: 0 0 25px 0 #FF7A41, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
}