.carousel {
    position: relative;
    
  }
  
  .carousel img {
    margin-top: 100px;
  }
  
  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel button.prev {
    left: 0;
  }
  
  .carousel button.next {
    left: 4%;
  }
  