.favorites-container {
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  align-items: center;
  margin: 0 auto; /* This centers the element horizontally */
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}


.return{
    width: 100%;
    background-color: #E47241;
    color: white;
    border-radius: 10px;
    height: 50px;
}

.return:hover{
    background-color: #FF7A41;
    scale: 1.05;
    transition: 0.3s;
}

.titulos{
    padding: 20px;
    background: linear-gradient(9deg, rgba(224,79,39,1) 0%, rgb(255, 136, 0) 100%, rgba(224,79,39,1) 100%);    color: black;
    border-bottom: 5px solid rgb(156, 156, 156);
    border-radius: 10px;
}

.mudar{
    width:90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes gradientChange {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-effect {
    background: linear-gradient(9deg, rgba(224,79,39,1) 0%, rgba(255,136,0) 50%, rgb(218, 93, 35) 100%);
    color: black;
    background-size: 200% auto;
    animation: gradientChange 5s ease infinite;
  }
  