.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;

}

.centered-form form {
  width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.centered-form h2 {
  text-align: center;
}

.centered-form .form-group {
  margin-bottom: 20px;
}

.centered-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 1px;
}

.centered-form input,
.centered-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.centered-form button {
  width: 100%;
  padding: 10px;
  background-color: #FF7A41;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.centered-form button:hover {
  background-color: #482600;
}

.success-message{
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  background-color: rgb(149, 227, 149);
  width: 70%;
}