.page-container {
  background: rgb(255, 255, 255);
  margin-left: 5%;    
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative; /* Adiciona posição relativa para conter o botão de retorno absoluto */
  max-width: 95%;

}

.content {
  padding: 20px;
  width: 100%;
  position: relative; /* Adiciona posição relativa para conter o botão de retorno absoluto */
}

.return-button {    
  width: 50px;
  height: 50px;
  margin-left: 3%;
  margin-top: 2%;
  position: absolute;
  z-index: 1; /* Garante que o botão de retorno esteja acima do carrossel */
}


.room-images{
  max-width: 95%;

}
.other-images {
  top: 0;
  cursor: pointer;
  flex-direction: column;
  left: calc(87px + 1200px + 20px);

}
.vertical-image {
  width: 200px;
  height: 120px;
}


.main-image {
  max-width: 100%;
  margin-left: 3%;
  display: flex;
}


@media screen and (max-width: 1104px) {
  .other-images {
    margin-left: 3%;
    top: 110%;
    position: absolute;
    flex-direction: row;
    left: calc(0% + 0% + 0%);
  }

  .room-images{
    margin-bottom: 30%;
  }
  
  .all_info{
    flex-direction: column;
  }

  .contacto_butoes_avaliar{
    margin-left: 20%;
    margin-top: 5%;
  }
}

.all_info{
  margin-top:7% ;
  margin-bottom: 0;
  margin-left: 3%;
  max-width: 100%;
  display: flex;
}

.all_titles{
  width: 70%;
}


.proprietaria_localizacao h1{
  font-size: 50px;
  gap:40px;
  display: flex;
  
}

.proprietaria_localizacao h2{
  font-size: 30px;
  display: flex;
}

.contacto_butoes_avaliar{
  width: 30%;
}

.hearticon_contacto_butoes_avaliar{
  width: 90px;
  height: auto;
}

.shareicon_contacto_butoes_avaliar{
  width: 80px;
  height: auto;
}
.icons_all{
  margin-left: 23%;
  gap: 20px;
}

.senhorio_contacto_butoes_avaliar{
  text-decoration: none;
  background-color:#FF7A41;
  color: black;
  border-radius: 40px;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.dir-control {
  --borderWidth: 2;
  --buttonColor: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 100%);
  --backdrop: transparent;
  --fontSize: 3;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 2px) solid var(--buttonColor);
  border-radius: 9999px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 60px;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: 15%;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
 }


 .dir-control:hover {
  --y: -5;
  --scale: 1.05;
 }
 
 .dir-control:active {
  --y: 0;
  --scale: 0.95;
 }
 
 .dir-control span {
  -webkit-clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  left: calc(var(--borderWidth) * -1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  z-index: 1;
 }
 
 .dir-control span:nth-of-type(1):hover,
 .dir-control span:nth-of-type(2):hover,
 .dir-control span:nth-of-type(3):hover,
 .dir-control span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
 }
 
 .dir-control span:nth-of-type(1):hover ~ b:nth-of-type(1),
 .dir-control span:nth-of-type(2):hover ~ b:nth-of-type(2),
 .dir-control span:nth-of-type(3):hover ~ b:nth-of-type(3),
 .dir-control span:nth-of-type(4):hover ~ b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
 }
 
 .dir-control span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
 }
 
 .dir-control b {
  -webkit-clip-path: var(--clip);
  background: var(--slideColor, var(--buttonColor));
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  bottom: calc(var(--borderWidth) * -1px);
  font-weight: bold;
  clip-path: var(--clip);
  color: var(--bg, #fafafa);
  left: calc(var(--borderWidth) * -1px);
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  transition: clip-path .25s ease;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .dir-control b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
 }
 
 .dir-control b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
 }
 
 .dir-control b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
 }
 
 .dir-control b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
 }
 
 .dir-control--secondary {
  --buttonColor: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 5%);
 }
 
 .dir-control--filled {
  --backdrop: #c7edef;
  --slideColor: hsl(0, 0%, 5%);
  --textColor: hsl(0, 0%, 5%);
  --bg: #c7edef;
 }

 .telefone_contacto_butoes_avaliar{
  text-decoration: none;
  background-color:#FF7A41;
  width: 100%;
  color: black;
  border-radius: 40px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
 }

 