.page-container {
  background: rgb(255, 255, 255);
  margin-left: 5%;    
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 20px;
  position: relative; /* Adiciona posição relativa para conter o botão de retorno absoluto */
  max-width: 95%;

}

.content {
  padding: 20px;
  width: 100%;
  position: relative; /* Adiciona posição relativa para conter o botão de retorno absoluto */
}

.return-button {    
  width: 50px;
  height: 50px;
  margin-left: 3%;
  margin-top: 2%;
  position: absolute;
  z-index: 1; /* Garante que o botão de retorno esteja acima do carrossel */
}


.room-images{
  position: relative;
  max-width: 95%;
  margin-top: 2%;  


}
.other-images {
  top: 0;
  cursor: pointer;
  flex-direction: column;
  left: calc(87px + 1300px + 20px);  
  position: absolute; /* Posiciona as imagens secundárias em relação ao contêiner .room-images */
  gap: 20px; /* Espaçamento entre as imagens secundárias */
  display: flex;
}

.vertical-image {
  width: 200px;
  height: 120px;
}


.main-image {
  max-width: 100%;
  width:1200px;
  height:750px;
  margin-left: 3%;
  display: flex;
  margin-bottom: 5%;
}


@media screen and (max-width: 1104px) {
  .other-images {
    margin-left: 3%;
    top: 110%;
    position: absolute;
    flex-direction: row;
    left: calc(0% + 0% + 0%);
  }

  .room-images{
    margin-bottom: 30%;
  }
  
  .all_info{
    flex-direction: column;
  }

  .contacto_butoes_avaliar{
    margin-left: 20%;
    margin-top: 5%;
  }
}

.all_info{
  margin-top:7% ;
  margin-bottom: 0;
  margin-left: 3%;
  max-width: 100%;
  display: flex;
}

.all_titles{
  width: 70%;
}

.proprietaria_localizacao{
  display: flex;
}

.proprietaria_localizacao h1{
  font-size: 50px;
  width: 80%;
}

.proprietaria_localizacao h2{
  font-size: 30px;
}

.contacto_butoes_avaliar{
  width: 30%;
}

.hearticon_contacto_butoes_avaliar{
  width: 90px;
  height: auto;
}

.shareicon_contacto_butoes_avaliar{
  width: 80px;
  height: auto;
}
.icons_all{
  margin-left: 23%;
  gap: 20px;
}

.senhorio_contacto_butoes_avaliar{
  text-decoration: none;
  background-color:#FF7A41;
  color: black;
  border-radius: 40px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.dir-control {
  --borderWidth: 2;
  --buttonColor: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 100%);
  --backdrop: transparent;
  --fontSize: 3;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 2px) solid var(--buttonColor);
  border-radius: 9999px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 60px;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: 15%;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
 }


 .dir-control:hover {
  --y: -5;
  --scale: 1.05;
 }
 
 .dir-control:active {
  --y: 0;
  --scale: 0.95;
 }
 
 .dir-control span {
  -webkit-clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  left: calc(var(--borderWidth) * -1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  z-index: 1;
 }
 
 .dir-control span:nth-of-type(1):hover,
 .dir-control span:nth-of-type(2):hover,
 .dir-control span:nth-of-type(3):hover,
 .dir-control span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
 }
 
 .dir-control span:nth-of-type(1):hover ~ b:nth-of-type(1),
 .dir-control span:nth-of-type(2):hover ~ b:nth-of-type(2),
 .dir-control span:nth-of-type(3):hover ~ b:nth-of-type(3),
 .dir-control span:nth-of-type(4):hover ~ b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
 }
 
 .dir-control span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
 }
 
 .dir-control span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
 }
 
 .dir-control b {
  -webkit-clip-path: var(--clip);
  background: var(--slideColor, var(--buttonColor));
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  bottom: calc(var(--borderWidth) * -1px);
  font-weight: bold;
  clip-path: var(--clip);
  color: var(--bg, #fafafa);
  left: calc(var(--borderWidth) * -1px);
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  transition: clip-path .25s ease;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .dir-control b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
 }
 
 .dir-control b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
 }
 
 .dir-control b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
 }
 
 .dir-control b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
 }
 
 .dir-control--secondary {
  --buttonColor: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 5%);
 }
 
 .dir-control--filled {
  --backdrop: #c7edef;
  --slideColor: hsl(0, 0%, 5%);
  --textColor: hsl(0, 0%, 5%);
  --bg: #c7edef;
 }

 .telefone_contacto_butoes_avaliar{
  text-decoration: none;
  background-color:#FF7A41;
  color: black;
  border-radius: 40px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
 }

 .Quarto1{
  width: 100%
 }

 .Quarto2{
  width: 55%
 }

 
.rating_box{
  display: flex;
}

.rating_box_margin{
  padding-top: 7px;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 2rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



.wrapper {
  width: 100%;
  background-color: #fafafa;
}

.wrapper_separator{
  display: flex;
  background-color:#c8c8c8;
  gap: 10%;
}

li {
  margin-bottom: 1rem; /* spacing between rows */
}

.wrapper_separator ul {
  display: flex; /* Display flex para alinhar os grupos na horizontal */
  gap: 10rem; /* Espaçamento entre os grupos */
  margin-right: 5%;
}

::marker {
	font-weight: 900;
	font-size: 2rem;
	color: rgb(204, 110, 28);
}

li span {
	display: block;
}

li span:first-child {
	font-size: 1.5em;

}

li span:last-child {
	font-style: italic;
}

.divider {
	min-height: 6rem;
	background: #c8c8c8;
}

.room-card {
  border: 0.5rem solid rgb(196, 82, 0);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
}

.group {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group li {
  font-size: 1.5rem;
}

.wrapper.room-card{
  width: 100%;
}

.mapcontainer{
  background-color: #c8c8c8;
  padding-top: 5%;
}

.price {
  width: 100%;
  border-radius: 0px;
  transition: all .3s;
  color: black;;
 }
 

 .wrapper.room-card h1{
  font-size: 30px;
  margin-bottom: 5%;

 }

 .mapcontainer{
  margin-bottom: 5%;
 }

 @property --progress-value {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

:root {
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}



progress[value] {
  display: block;
  position: relative;
  appearance: none;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) '%';
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  @supports selector(::-moz-progress-bar) {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg)
    calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%)
    calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%)
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: var(--progress-value-percent);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--progress-value-color);
  border-radius: 50%;
  content: attr(value);
  content: var(--progress-value-string, var(--value));
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

@keyframes progress {
	from {
		--progress-value: 0;
	} to {
		--progress-value: var(--value);
	}
}


.Comentarios{
  display: flex;
}

.Comentarios ul {
  display: flex; /* Display flex para alinhar os grupos na horizontal */
  gap: 25rem; /* Espaçamento entre os grupos */
  margin-top: 2%;
  margin-left: 10%;
}

.Comentarios li{
  font-size: 30px;
}

