/* Demo Code: */
body {
	font-family: 'Open Sans', arial, sans-serif;
	color: #333;
	font-size: 12px;
}
.projcard-container {
	margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.projcard-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 20px 20px 20px 20px
}
.projcard {
	position: relative;
	width: 100%;
	height: 540px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #ffffff !important;
	border: 3px solid #fff !important;
	font-size: 26px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -10px rgba(0, 0, 0, .90);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .50);
	transform: translate(0px, -3px);
}
.projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 0.07;
}

.projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcard-img {
	position: absolute;
	height: 540px;
	width: 780px;
	top: 20;
	left: 0;
	transition: transform 0.2s ease;
}

.projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 440px;
	width: calc(100% - 550px);
	font-size: 18px;
}

.projcard-textbox::before,
.projcard-textbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: #fff;
	top: -20%;
	left: -40px;
	height: 140%;
	width: 430px;
	transform: rotate(8deg);
}

.projcard-textbox::after {
	display: none;
	left: initial;
	right: -55px;
}

.projcard-textbox * {
	position: relative;
}
.projcard-title {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 26px;
	padding-right: 40px;
}
.projcard-subtitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 25px;
	color: #4e4e4e;
}
.projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #000000; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #000000, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #000000, transparent 50%); }


.projcard-description {
	width: 80%;
	z-index: 10;
	font-size: 22px;
	color: #424242;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projcard-tagbox {
	bottom: 3%;
	font-size: 30px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #575757;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
    margin-bottom: 10px;
	cursor: default;
	font-size: 20px;
	user-select: none;
	transition: color 0.2s;

}
.projcard-tag-1{
	display: inline-block;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
    margin-bottom: 10px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
	background-color: #353535;
	color: white;

}

.projcard-tag-1::before {
	content: '';
	position: absolute;
	background: white !important;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag-1::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid white;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}

.projcard-tag::before {
	content: '';
	position: absolute;
	background: white !important;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid white;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}

.rectangle-background {
	width: 200px;
	height: 100px;
	background-color: #FF0000; /* Change the color as needed */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1; /* Ensure it's behind other content */
   }

/* SELECT BUTTONS: */

* {
	box-sizing: border-box;
}

.form__group {
	font-family: "Open Sans", sans-serif;
	accent-color: #FF7A41;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.wrapper {
	max-width: 75rem;
	width: 100%;
	padding: min(3rem, 5vw);
}


legend {
	font-weight: 700;
}

fieldset > * + * {
	margin-top: 0.5rem;
}

form > * + * {
	margin-top: 1.5rem;
}

.form__group {
	display: flex;
	align-items: center;
}

input[type="checkbox"],
input[type="radio"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}

input[type="range"],
progress {
	margin-left: auto;
	flex: 0 1 50%;
}


.centered-heart {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Adjust as needed */
	margin-right: 30px;
}

.button-79.active {
    background-color: #e47241; 
}

.sortButtons{
	padding-bottom:20px
}

.sort{
	border-radius: 10px !important;
	background-color: #e47241;
	color: white;
	cursor: pointer;
	height:100px !important;
	padding:0px !important;
	width: 600px !important;
}

.sort:hover{
	background-color: #ff7a41!important;
	transition: 0.3s;
}

.mini{
	height: 20px;
	width: 20px;
}
.container {
    display: flex;
    flex-direction: column;
	margin-bottom: 10px;
}

.row-list {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the row */
    margin-bottom: 10px; /* Add some space between rows */
}

.projcard-description-items {
    flex: 1; /* Make each item take equal space */
    display: flex;
    align-items: center; /* Align items vertically */
	font-size: 23px;
}

.containerList {
    margin-top: 2px; /* Add margin to create space */
}

.row-list {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    margin-bottom: 10px; /* Add margin to create space between rows */
}

.projcard-description-items {
    display: flex;
    align-items: center; /* Align items vertically */
}

.projcard-description-items img {
    margin-right: 5px; /* Add margin to the right of the image */
}

.projcard-tagbox {
    margin-top: 30px; /* Add margin to the top of the tag box */
}

.button-style1:hover {
	background-color: #ffcc00; /* Change to your desired hover color */
  }
.button-style {
	width: 40rem;
	padding: 20px;
	margin: 10px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #252525;
	color: white;
	border: none;
	border-top: 1px solid white;
	font-size: 30px;
	font-family: "Circular", "Helvetica", sans-serif; /* Fixed font family */
	font-weight: 700;
	letter-spacing: -.01em;
	border-bottom: 2px solid white;
  }
  
  .button-style:hover {
	background-color: #1a1a1a;
	scale: 1.05;
	transition: 0.3s;
	color:white
  }

  
.mapa1{
	background-image: url('../images/mapLogo.png'); 
	/* Optionally, you can specify the size and position of the background image */
	background-size: cover; /* or contain, etc. */
	background-position: center; /* or top left, etc. */
	/* Ensure the button has enough padding to accommodate the background image */
	padding: 10px 20px; /* Adjust as needed */
	/* Optionally, you can remove the default button styles */
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom:10px;
	border: 4px solid #e47241;
	color:black;
	border-radius: 10px;
	font-size: 30px;
	font-weight: 700;
	height: 100px !important;
}

.mapa1:hover{
	color: black !important;
}

@media (max-width: 768px) { /* Adjust the max-width as needed */
	.projcard-container {
	  width: 100%; /* Make it full width */
	  float: none; /* Remove float */
	  clear: both; /* Clear any floats */
	  margin-top: 20px; /* Add some space between filters and cards */
	}
  }

  @media (max-width: 768px) {
	.filter-container {
	  flex-direction: column; /* Change to a column layout */
	}
  
	.projcard-container {
	  width: 100%; /* Make it full width */
	  float: none; /* Remove float */
	  margin-top: 20px; /* Add some space between filters and cards */
	}
  }
  
  /* Media query for screens smaller than 768px (phones) */
@media (max-width: 768px) {
	.projcard-container {
	  width: 100%; /* Make rooms full width */
	  float: none; /* Remove float */
	  overflow: auto; /* Add overflow scrolling */
	  padding: 0 20px; /* Add some padding to prevent content from touching the edges */
	  margin:0px;
	  width: 95%  !important
	}
  }

  @media (max-width: 768px) {
	.projcard-projcard-blue {
	  width: 100%; /* Make rooms full width */
	  float: none; /* Remove float */
	  overflow: auto; /* Add overflow scrolling */
	  padding: 0 20px; /* Add some padding to prevent content from touching the edges */
	  height: 100px;
	}
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
	width: 1000px;
	padding:0px
  }

  .leaflet-popup-content {
margin:0px  }

.custom-modal{
	max-width: 90%; /* Set this to your desired width */
  }

  .projcard-blue-1{
	margin:0px !important
  }