@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.return-button {    
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left:80px;
}
.title_info_more_number_proprietaria{
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-left:80px;
    font-size: 50px;
    color: black;
    height: 75px;
    margin-right: 80px;
}

.title_info_proprietaria{
  width:40%;
  height: 80px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  font-size: 35px; /* Adjust font size as needed */
  white-space: nowrap;
}
.title_info_number {
    
    width: auto;
    height: 50px; /* Adjust the height as needed */
    display:flex;
    align-items: center;
    font-size: 30px; /* Adjust font size as needed */
    white-space: nowrap;
    background-color: #ffa500;
    border-radius: 30px;
    padding: 0 20px; /* Add padding as needed */
    margin-top: 16px;
    flex-wrap: wrap;
}


.room-images {
    position: relative;
    width: 30%;
  }

.price_info{
    margin-left:80px;
    font-size: 500px;
    margin-bottom: 40px;
    width: 30%;
}
  
  .main-image {
    margin-top: 50px;
    margin-left: 87px;
    width: 1300px;
    height: 700px;
    margin-bottom: 100px;
  }
  
  .other-images {
    position: absolute;
    top: 50px;
    left: calc(87px + 1300px + 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
  
  .vertical-image {
    width: 200px;
    height: 120px;
  }
  

  @media screen and (max-width: 1444px) {
    .room-images {
      flex-direction: column; 
      align-items: center; 
    }
  
    .main-image {
      width: 90%;
      height: auto; 
      margin: 20px 0;
    }
  
    .other-images {
      position: static; 
      margin-top: 20px; 
    }
  
    .vertical-image {
      width: 90%; 
      height: auto; 
    }
    .title_info_more_number_proprietaria {
      flex-direction: column; /* Empilha os elementos verticalmente */
      align-items: center; /* Centraliza os elementos */
      text-align: center; /* Centraliza o texto */
  }

  .title_info_proprietaria,
  .title_info_number {
      width: 100%; /* Define a largura máxima para 100% em telas menores */
      text-align: center; /* Centraliza o texto */
      justify-content: center; /* Centraliza o conteúdo */
  }
  }


.description_info {
    margin-left:80px;
    font-size: 30px;
    margin-bottom: 40px;
    width: 75%;
}   

.info_contact h1 {
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: 400px;
  margin-right: 80px;
  margin-top: 18px;
  text-align: center;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px 50px 10px 50px; /* Ajustei o padding para não interferir com a linha */
  font-family: 'Inconsolata', monospace;
}

.info_contact_second {
  display: flex;
  margin-left: 320px;
  border-radius: 10px;
  margin-top: -5px;
  justify-content: space-around;
  padding: 30px;
}

.info_contact_second img {
  width: 80px;
  height: auto; 
  cursor: pointer; 

  }

  .container {
    display: flex;
    justify-content: space-between;
    
   }
   
   .column {
    width: 50%; /* Ajuste a largura conforme necessário */
    margin-right: 100px;
    /*quero encostar a esquerda*/
   }
   
   .column ul {
    list-style-type: none;
    padding: 0;
   }
   
   .column li {
    margin-bottom: 60px; /* Espaçamento entre os itens */
   }
   
   .icon {
    margin-right: 30px; /* Espaçamento entre o ícone e o texto */
   }

   .mapcontainer{
    margin-left: 80px;
    width: 70%;
    height: 20%;
   }

   *:after, *:before {
    box-sizing: border-box;
   }
   
   
   #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
   }
   
   .dir-control {
    --borderWidth: 2;
    --buttonColor: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 100%);
    --backdrop: transparent;
    --fontSize: 3;
    --horizontalPadding: 16;
    --verticalPadding: 8;
    background: var(--backdrop);
    border: calc(var(--borderWidth) * 2px) solid var(--buttonColor);
    border-radius: 9999px;
    text-align: center;
    line-height: 24px;
    color: var(--textColor, var(--buttonColor));
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    font-weight: bold;
    font-family: sans-serif;
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: relative;
    text-decoration: none;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 80px;
    margin-top: 18px;
    width: 300px;
    transition: transform 0.2s;
    transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
   }
   
   .dir-control:hover {
    --y: -5;
    --scale: 1.05;
   }
   
   .dir-control:active {
    --y: 0;
    --scale: 0.95;
   }
   
   .dir-control span {
    -webkit-clip-path: var(--clip);
    bottom: calc(var(--borderWidth) * -1px);
    clip-path: var(--clip);
    left: calc(var(--borderWidth) * -1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    z-index: 1;
   }
   
   .dir-control span:nth-of-type(1):hover,
   .dir-control span:nth-of-type(2):hover,
   .dir-control span:nth-of-type(3):hover,
   .dir-control span:nth-of-type(4):hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 2;
   }
   
   .dir-control span:nth-of-type(1):hover ~ b:nth-of-type(1),
   .dir-control span:nth-of-type(2):hover ~ b:nth-of-type(2),
   .dir-control span:nth-of-type(3):hover ~ b:nth-of-type(3),
   .dir-control span:nth-of-type(4):hover ~ b:nth-of-type(4) {
    --clip: inset(0 0 0 0);
   }
   
   .dir-control span:nth-of-type(1) {
    --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
   }
   
   .dir-control span:nth-of-type(2) {
    --clip: polygon(100% 0, 100% 100%, 50% 50%);
   }
   
   .dir-control span:nth-of-type(3) {
    --clip: polygon(0 100%, 100% 100%, 50% 50%);
   }
   
   .dir-control span:nth-of-type(4) {
    --clip: polygon(0 0, 0 100%, 50% 50%);
   }
   
   .dir-control b {
    -webkit-clip-path: var(--clip);
    background: var(--slideColor, var(--buttonColor));
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    bottom: calc(var(--borderWidth) * -1px);
    font-weight: bold;
    clip-path: var(--clip);
    color: var(--bg, #fafafa);
    left: calc(var(--borderWidth) * -1px);
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    transition: clip-path .25s ease;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .dir-control b:nth-of-type(1) {
    --clip: inset(0 0 100% 0);
   }
   
   .dir-control b:nth-of-type(2) {
    --clip: inset(0 0 0 100%);
   }
   
   .dir-control b:nth-of-type(3) {
    --clip: inset(100% 0 0 0);
   }
   
   .dir-control b:nth-of-type(4) {
    --clip: inset(0 100% 0 0);
   }
   
   .dir-control--secondary {
    --buttonColor: hsl(0, 0%, 100%);
    --bg: hsl(0, 0%, 5%);
   }
   
   .dir-control--filled {
    --backdrop: #c7edef;
    --slideColor: hsl(0, 0%, 5%);
    --textColor: hsl(0, 0%, 5%);
    --bg: #c7edef;
   }
   
   