body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.addroom-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.a4{
    width:80%;
}

.goo{
    margin-bottom:40px;
}

.addroom-form {
    width: 100%; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333333;
    text-align: center;
    height: 100%;
    margin-bottom: 30px;
    margin: auto; 
    margin-top: 60px;
    color: aliceblue;
}

.addroom-form h2 {
    font-size: 50px;
    margin: 0 0 20px;
}

.addroom-form input, select {
    width: calc(100% - 24px); 
    height: 70px;
    margin-bottom: 30px;
    padding: 0 8px; 
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 30px;
}

.addroom-form input:hover {
    border-color: #966419; 
}

.addroom-form .buttonJoao {
    width: calc(100% + 20px); 
    height: 80px;
    font-size: 40px;
    border: none;
    background-color: #FF7A41;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width:25%;
    transition: background-color 0.3s ease;
}

.addroom-form .buttonJoao:hover {
    background-color: #ac5530; 
}

.name-inputs, .job-pass {
    display: flex;
}

.name-inputs, .job-pass input select {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
}
.addroom-form input,
.addroom-form select {
    width: 100%;
}



.name-space {
    margin:0 5px; /* Adjust the margin as needed */
}

.job-pass {
    position: relative; /* Ensure that the container is positioned relatively */
}

.custom-select {
    width: calc(100% - 30px); /* Adjust the width to accommodate the arrow */
    position: relative; /* Position the arrow relative to the select element */
}

.arrow {
    position: absolute; /* Position the arrow absolutely */
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    color: black;
    pointer-events: none;
    padding-top: 10px;
    padding-right: 20px;
}

.dropdown-container {
    position: relative;
}

/* Input Field */
.dropdown-input {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

/* Options Container */
.options-container {
    position: absolute;
    top: calc(65% + 2px);
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    color: #333;
}

/* Option Item */
.option-item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

/* Label */
.dropdown-label {
    font-weight: bold;
    color: white;
    height: 30px; /* Adjust the height of the label */
    line-height: 30px; /* Align text vertically in the middle */
    vertical-align: middle; /* Align vertically with the label below */
    margin-right: 9px;
    font-size: 30px;
}



.image-preview-container {
    display: flex;
    gap: 10px; /* Adjust gap between images */
    margin-top: -20px; /* Adjust distance from the label */
    margin-bottom: 20px; /* Add space between other input fields */
}

/* Image Preview */
.image-preview {
    max-width: 100%;
    height: 150px; /* Set a fixed height for the image previews */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow for a nicer look */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}

/* Image Preview hover effect */
.image-preview:hover {
    transform: scale(1.05); /* Increase size on hover for a subtle effect */
}

.image-upload-container{
    margin-top: 35px;
}

.image-upload-input {
    vertical-align: middle; /* Align button vertically */
    background-color: #ffffff; /* Set button background color */
    color: rgb(0, 0, 0); /* Set button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.label1{
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    vertical-align: middle; /* Align vertically with the label below */
    margin-right: 9px;
    margin-top: 50px;
    font-size: 40px;
    
}

.image-upload-label{
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    vertical-align: middle; /* Align vertically with the label below */
    margin-right: 9px;
    font-size: 35px;
}

.location-info-container {
    display: flex; /* Display children elements in a row */
    flex-wrap: wrap; /* Allow wrapping if content overflows */
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
    margin:30px;
    margin-bottom: -15px;
}

.label-container {
    margin-right: 20px; /* Adjust spacing between label-input pairs */
    margin-bottom: 20px; /* Adjust spacing between rows */
    margin-top: -30px;
    font-size: 35px;
    width: 400px;
}

.label-containerend{
    margin-right: 100px; /* Adjust spacing between label-input pairs */
    margin-bottom: 20px; /* Adjust spacing between rows */
    margin-top: -30px;
    width: 400px;
}

.label-container1 {
    margin-right: 20px; /* Adjust spacing between label-input pairs */
    margin-bottom: 20px; /* Adjust spacing between rows */
    margin-top: -30px;
    font-size: 35px;

    width: 400px;
}

.label1 {
    font-weight: bold;
    color: white;
    height: 30px; /* Adjust the height of the label */
    line-height: 30px; /* Align text vertically in the middle */
}

.descricao-label-container {
    margin-top:-10px;
    margin-bottom: 60px;
}

.descricao-label {
    font-weight: bold;
    color: white;
    height: 30px; /* Adjust the height of the label */
    line-height: 30px; /* Align text vertically in the middle */
    font-size: 35px;
    margin-bottom: 15px;
}

.descricao-input {
    min-height: 200px; /* Adjust the minimum height of the textarea */
    width: 100%; /* Ensure the textarea fills its container */
    padding: 10px; /* Add padding to increase the vertical space for typing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    resize: vertical; /* Allow vertical resizing of the textarea */
    overflow-y: auto; /* Show vertical scrollbar if content exceeds textarea height */
    vertical-align: top; /* Align text to the top of the textarea */
    line-height: 1.5; /* Adjust line height for better readability */
    font-size: 35px;
    word-wrap: break-word; /* Break long words that exceed textarea width */
    border-radius: 20px; /* Adicione cantos arredondados */
    border: 1px solid #000000; /* Adicione uma borda sólida para melhorar a aparência */
}

.location-info-container1 {
    display: flex;
    flex-wrap: wrap;
    margin:20px;
    margin-top: 50px;
    justify-content: center;
    gap: 15px;
}

.location-info-container2 {
    width: 1200p;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 5px;
}

.label-container2 {
    margin-right: 20px;
    margin-top: -9px;
    margin-bottom: 90px;
    font-size: 45px;

    width:600px;
}
.label-container3 {
    margin-top: -10px;
    margin-right: 20px;
    font-size: 35px;

    margin-bottom: 20px;
    /* Adjust width as needed */
    width: auto;
    width: 300px;
}

.label-container4 {
    margin-top: -10px;
    margin-right: 20px;
    font-size: 35px;

    margin-bottom: 20px;
    /* Adjust width as needed */
    width: auto;
    width: 300px;
}

.label-container5 {
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* Adjust width as needed */
    width: auto;
    
    width: 350px;
}

.label-container6 {
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* Adjust width as needed */
    width: 400px;
    font-size: 35px;
}

.equipment-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.equipment-option {
    flex: 0 0 calc(25% - 10px); /* Adjust width based on the number of columns you want */
    display: flex;
    align-items: center; /* Center items horizontally */
    margin-bottom: 15px;
}
.equipment-option input[type="checkbox"] {
    transform: scale(1); /* Adjust the scale factor as needed */
    margin-bottom: 5px; /* Add space between checkbox and label */
}

.equipment-option label {
    font-size: 1.3em; /* Adjust the font size as needed */
}

.selected-equipment {
    margin-top: 20px;
}

.selected-equipment ul {
    list-style-type: none;
    padding: 0;
}
.divlabel{
    margin-left: 20px;
    font-size: 25px;
}
.divcheckbox{
    scale: 1.5;
}

.selected-equipment li {
    margin-right: 10px;
    display: inline-block;
}
.bb{
    margin-bottom: 30px;
}

.progress {
    position: relative;
    width: 80%;
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    min-height:120px;
    margin-bottom:-50px;
    background-color: #C8C8C8 !important;
  }

  .progress-line {
    position: absolute;
    width: 0; /* Start with 0 width */
    height: 12px;
    background-color: grey;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0; /* Set a lower z-index */
    box-shadow: 2px 2px 10px grey;
    transition: width 1s ease; /* Add transition for smooth animation */
  }

    .progress-line.active{
        width: 35%; /* Fill the entire width when active */
        background-color: #FF7A41;
        }

  
  .progress:before {
    content: "";
    background-color: #FF7A41;
    position: absolute;
    width: 90%;
    height: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
  }
  
  .progress-bar {
    position: absolute;
    width: 0;
    height: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #11aa75;
    transition: width 0.4s ease;
    z-index: -1; /* Set a lower z-index */
  }
  
  .step {
    width: 120px; /* aumentando o tamanho */
    height: 120px; /* aumentando o tamanho */
    font-size: 40px; /* aumentando o tamanho da fonte */
    background-color: #303030;
    z-index: 1; /* Set a higher z-index */
    border-radius: 50%;
    border: 4px solid #cecece;
    display: grid;
    position: relative; /* Add position relative */
    place-items: center;
    color: #cecece;
    transition: border-color 0.5s ease-in-out;
    margin-bottom: 100px;
    
  }
  
  .step.active {
    border-color: #e76519;
    color: #efefef;
  }
  
  button.buttonJoao {
    width: 5em;
    height: 2.2em;
    font-size: 20px;
    border-radius: 10px;
    margin-top: -50px;
    border: none;
    outline: none;
    background-color: #11aa75;
    color: #fff;
    cursor: pointer;
    
  }
  
  button.buttonJoao[disabled] {
    cursor: not-allowed;
  }
  
  button.buttonJoao:hover {
    background-color: #22bb80;
  }
  
  button.buttonJoao:active {
    background-color: #119980;
  }